@charset "utf-8";
/* CSS Document */
html{
	background-color: rgba(214,255,254,1.00);
	background-image: url(../img/2x4.jpg);
	background-repeat: repeat;
	
	}
#indextext{ 
	margin-left: auto;
	margin-right: auto;
	float: left;
	color: rgba(137,248,48,1.00);
	position: static; 
	}
#indextext h1{
	font-size: 60px;
	}
#indextext h1 b {
	font-size: 100px;
	}
#wrapper{
	position: absolute;
	max-width: 100%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	
	}
@media screen and (min-width: 768px){
#wrapper{
	position: absolute;
	max-width: 100%;
	margin-top: 10%;
	margin-left: 19%;
	margin-right: auto;
	
	}
}
#wrapper1{
	position: absolute;
	width: 100%;
	margin-top: 10%;
	}
h1{
	text-align: center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: bold;
	font-size: 60px;
	color: rgba(137,248,48,1.00);
	
	}
#menu{
	float:left;
	width: 100%;
	margin-top: 10%;
	margin-left: 50%;
	margin-right: auto;
	}
#S {
	float: left;
	width: 100%;
	}
#Strength{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	}
#P{
	float: left;
	width: 100%;

	}
#Preception{
	
	}
#E{
	float: left;
	width: 100%;

	}
#Endurance{
	
	}
#C{
	float: left;
	width: 100%;


	}
#Charisma{
	
	}
#I{
	float: left;
	width: 100%;


	}
#Intelligence{
	
	}
#A{
	float: left;
	width: 100%;


	}
#Agility{
	
	}
	
#L{
	float: left;
	width: 100%;


	}
table{
	margin-left: auto;
	margin-right: auto;
	border-left-style: none;
	border-color: none;
	}
table img{
	
	}
#text {
	color: rgba(137,248,48,1.00);
	width: auto;
	height: auto;
	}	
#low{
	width: 200px;
	margin-right:auto;
	margin-left: 20%;
	position: relative;
	}
#footer{
	color: rgba(137,248,48,1.00); 
	}
ul{
	list-style-type: none;
	color: rgba(137,248,48,1.00);
	
	}
l1{
	text-align: right;
	font-size: 14px;
	}
li img{
	padding: 10px;
	
	}
p{
	color: rgba(137,248,48,1.00);
	padding-left: 30px;
	}
#col{
	margin-left: 100%;
	margin-right: auto;
	}
button{
	background-color: transparent;
	border: solid rgba(137,248,48,1.00);
	background: none;
	margin-left: auto;
	margin-right:auto;
	}
.collapse{
	background: none;
	background-color: none;
	}
#well{
	background-color: none;
	}
#middle{
	width: 500px;
	height: 5000px;
	margin-left: auto;
	margin-right: auto;
	}
	/* addition */
	/* source: http://www.ehow.com/how_12214447_make-collapsing-lists-java.html */
